.square {
    height: 50px;
    width: 50px;
    border: 1px solid red;
    background-color: rgb(215, 215, 161);
    border-color: black;
    border-width: 1px;
    display: inline-block;
}

#board {
    position: absolute;
    top: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

#dice {
    height: 50px;
    width: 50px;
    border: 1px solid red;
    background-color: rgb(223, 223, 205);
    border-color: black;
    border-width: 5px;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#color-dice {
    height: 50px;
    width: 50px;
    border: 1px solid red;
    border-color: black;
    border-width: 5px;

}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.purple {
    background-color: purple;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.blue {
    background-color: blue;
}